/*
* @Author: Evrard Vincent
* @Date:   2024-02-23 00:24:05
* @Last Modified by:   vincent evrard
* @Last Modified time: 2024-02-23 00:24:13
*/
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background:black;

}

#error{
	color: white;
    background: black;
}

#loader{
	margin: auto;
	color: white;
    background: black;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	font-size:90%;
	display : flex;
}

.fullscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.hide{
    display: none !important;
  
}